/*body {
   background-color: white; /* rgb(25, 25, 20) (Save for later 
} */

body {
  font-family: sans-serif;
  background-color: white;
}

.heading button{
  border: none;
  
  background-color: transparent;
  width: 50px;
  height: 20px;
  font-weight: bold;
  color: gray;

  transition: color 0.15s;
}

/*.heading button:hover{
  color: orange;
} */

#test{
  transition: opacity 0.15s;
}
#test:hover{
  opacity: 0.7;
}

.head_button{
  border: none;
  background-color: transparent;
  
}

.yes{
  border: none;
}

